<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="frankapanda">

<xacro:property name="model_name" value="frankapanda" />
<xacro:property name="model_version" value="0.1" />

<xacro:arg name="arm_id" default="panda" />
<xacro:property name="arm_id" value="$(arg arm_id)" />

<xacro:arg name="gazebo" default="false" />
<xacro:property name="gazebo" value="$(arg gazebo)" />

<xacro:arg name="use_round_base" default="true"/>
<xacro:property name="USE_ROUND_BASE" value="$(arg use_round_base)" />

<xacro:arg name="end_effector" default="panda_hand"/> <!-- none, panda_hand, dagana -->
<xacro:property name="END_EFFECTOR" value="$(arg end_effector)" />

<xacro:arg name="nicla" default="false"/> <!-- the nicla inside the dagana-->
<xacro:property name="NICLA" value="$(arg nicla)" />

<xacro:arg name="safety_distance" default="0.03"/> <!-- for collision meshes, used only when gazebo:=false (I do not know why)-->
<xacro:property name="SAFETY_DISTANCE" value="$(arg safety_distance)" />

<material name="mount_dagana_dark_grey">
	<color rgba="0.2 0.2 0.2 1"/>
</material>

</robot>
