<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="frankapanda">

<xacro:property name="model_name" value="frankapanda" />
<xacro:property name="model_version" value="0.1" />

<xacro:arg name="arm_id" default="panda" />
<xacro:property name="arm_id" value="$(arg arm_id)" />

<xacro:arg name="gazebo" default="false" />
<xacro:property name="gazebo" value="$(arg gazebo)" />

<xacro:arg name="use_round_base" default="true"/>
<xacro:property name="USE_ROUND_BASE" value="$(arg use_round_base)" />

<xacro:arg name="end_effector" default="panda_hand"/> <!-- none, panda_hand, dagana -->
<xacro:property name="END_EFFECTOR" value="$(arg end_effector)" />

</robot>
