<launch>

    <arg name="rviz" default="true" />
    <arg name="visualize_inertia" default="false" />
    <arg name="end_effector" default="none" />

    <arg name="xacroArm" value="$(find frankapanda_urdf)/urdf/panda.urdf.xacro 
         end_effector:=$(arg end_effector)
         gazebo:=$(arg visualize_inertia)
         "
    />

    <param name="robot_description" command="$(find xacro)/xacro $(arg xacroArm)" />
    <!-- <param name="robot_description_semantic" command="$(find xacro)/xacro '$(find frankapanda_urdf)/srdf/inail2arm.srdf.xacro'" /> -->
            
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
       <param name="publish_default_efforts" value="True"/>
    </node>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
        <param name="publish_frequency" type="double" value="100.0" />
    </node> 

    <include if="$(arg rviz)" file="$(find frankapanda_urdf)/launch/frankapanda_rviz.launch">
    </include>

    <node if="$(arg visualize_inertia)" pkg="robot_inertia_publisher" type="robot_inertia_publisher" name="robot_inertia_publisher" output="screen" />

</launch>
